@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  /* globals */
  --point: #004785;

  /* drawer */
  --drawer-bg: #f2f7fb;
  --drawer-text: #000000;
  --drawer-hover-bg: #004785;
  --drawer-hover-text: #ffffff;
  --history-menu-text: #ffffff;
  --history-menu-bg: #004785;

  /* chat */
  --chat-bg: #fff;
}

.dark {
  /* globals */
  --point: #004785;

  /* drawer */
  --drawer-bg: #f2f7fb;
  --drawer-text: #000000;
  --drawer-hover-bg: #004785;
  --drawer-hover-text: #ffffff;
  --history-menu-text: #ffffff;
  --history-menu-bg: #004785;

  /* chat */
  --chat-bg: #fff;
}

@theme {
  --color-drawer-bg: var(--drawer-bg);
  --color-drawer-hover-bg: var(--drawer-hover-bg);
  --color-drawer-hover-text: var(--drawer-hover-text);
  --color-drawer-text: var(--drawer-text);
  --color-history-menu-text: var(--history-menu-text);
  --color-history-menu-bg: var(--history-menu-bg);
  --color-chat-bg: var(--chat-bg);
}
