@import "tailwindcss";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));


@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2');
  font-weight: 100 900;
  font-display: swap;
}

body {
  font-family: 'Pretendard', sans-serif;
}

:root {
  /* globals */
  --point: #004785;

  /* drawer */
  --drawer-bg: #f2f7fb;
  --drawer-text: #000000;
  --drawer-hover-bg: #004785;
  --drawer-hover-text: #ffffff;
  --history-menu-text: #ffffff;
  --history-menu-bg: #004785;
  --tag-bg: #004785;
  --tag-text: #ffffff;

  /* chat */
  --chat-bg: #fff;
}

.dark {
  /* globals */
  --point: #004785;

  /* drawer */
  --drawer-bg: #f2f7fb;
  --drawer-text: #000000;
  --drawer-hover-bg: #004785;
  --drawer-hover-text: #ffffff;
  --history-menu-text: #ffffff;
  --history-menu-bg: #004785;
  --tag-bg: #004785;
  --tag-text: #ffffff;

  /* chat */
  --chat-bg: #fff;
}

@theme {
  --color-point: var(--point);
  --color-drawer-bg: var(--drawer-bg);
  --color-drawer-hover-bg: var(--drawer-hover-bg);
  --color-drawer-hover-text: var(--drawer-hover-text);
  --color-drawer-text: var(--drawer-text);
  --color-history-menu-text: var(--history-menu-text);
  --color-history-menu-bg: var(--history-menu-bg);
  --color-chat-bg: var(--chat-bg);
  --color-tag-bg: var(--tag-bg);
  --color-tag-text: var(--tag-text);
}
