@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --drawer-bg: #004785;
  --drawer-text: #ffffff;
  --point: #6182f3;
}

.dark {
  --drawer-bg: #004785;
  --drawer-text: #ffffff;
  --point: #6182f3;
}

@theme {
  --color-drawer-bg: var(--drawer-bg);
  --color-drawer-text: var(--drawer-text);
}
